
*{
    box-sizing:border-box;
}
.drop-unit{
    display:inline-block;
    position: relative;
}
.drop-main{
    display:inline-block;
    border: 1px solid gray;
    padding: 10px;
    line-height: 22px;
    cursor:pointer;
}
.drop-item{
    margin: 10px 0;
    line-height: 22px;
    cursor: pointer;
}
.drop-item:hover{
    background: #ccc;
}
.drop-main-title,.drop-item-title{
    font-weight: 900;
}
.drop-main-splitLine,.drop-item-splitLine{
    width: 1px;
    background: grey;
    margin: 0 12px;
    height: 11px;
    display: inline-block;
}
.drop-main-contactWrap,.drop-item-contactWrap{
    font-size: 14px;
    color: gray;
    display: inline-block;
}
.drop-main-contactWrap-info,.drop-item-contactWrap-info{
    display: inline-block;

}
.drop-main-contactWrap-info:first-child,.drop-item-contactWrap-info:first-child{
    margin-right: 20px;
}


.drop-main-address,.drop-item-address{
    font-size: 14px;
    color: gray;
    display: inline-block;
}
.drop-searchWrap{
    padding: 10px;
    border: 1px solid gray;
    margin-top: 3px;
    display:none;
    position: absolute;
    z-index: 5;
    background: rgb(255, 255, 255);
    width: 100%;

}

.drop-inputWrap{
    width: 100%;

}
.drop-input{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #cccccc;
    text-indent: 10px;
    display: inline-block;
}
.drop-ul{
    max-height: 300px;
    overflow: auto;
    margin: 10px 0;
}
.drop-cur{
    color: red;
    font-weight: 900;
}

